/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-conent to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */

 * {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}
  
  .intro {
    background: #23424a;
    color: white;
    padding: 50px 0;
  }

  .container {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
    /* height: 300px; */
  }

  .wrapper {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
    /* height: 300px; */
  }

  .intro-content {
    width: 50%;
  }